<h1>学習項目一覧</h1>

<div id="new_content">
  <%= render "form", content: @content %>
</div>

<div id="contents">
  <%= render partial: "content", collection: @contents %>
</div>

<%= link_to "← 学習記録作成に戻る", new_study_path %>