<h2>学習記録詳細</h2>

<p><strong>日付:</strong> <%= @study_record.date %></p>

<p><strong>内容:</strong></p>
<p><%= simple_format(@study_record.body) %></p>

<%= link_to "編集", edit_study_record_path(@study_record) %> |
<%= link_to "一覧へ戻る", study_records_path %>