<h4 class="fw-bold">
  <span class="me-1">ЁЯР╛</span>
  <span> <%= "#{@user.name}уБХуВУуБохнжч┐ТшиШщМ▓" %></span>
</h4>

<h1>хнжч┐ТшиШщМ▓ф╕Ашжз</h1>

<turbo-frame id="studies">
  <ul>
    <% @studies.each do |study| %>
      <li>
        <%= link_to study.title, studiy_path(study), data: { turbo: false } %>
      </li>
    <% end %>
  </ul>
</turbo-frame>