<div>
  <h2>新規学習項目を追加</h2>
  <%= form_with model: learning_item, url: learning_items_path, local: true do |form| %>
    <div>
      <%= form.label :name, "項目名" %><br>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.submit "追加" %>
    </div>
  <% end %>
</div>