<div>
  <h2>すべての学習項目</h2>
  <table>
    <thead>
      <tr>
        <th>項目名</th>
        <th>ステータス</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <ul>
        <% learning_items.each do |item| %>
          <li id="learning_item_<%= item.id %>">
            <%= item.name %> <% if item.completed %>✅<% end %>
          </li>
        <% end %>
      </ul>
    </tbody>
  </table>
</div>