<h1>学習項目一覧</h1>

<div id="learning_items_list">
  <%= render @learning_items %> <!-- _learning_item.html.erb を利用する -->
</div>

<div id="new_learning_item_form">
  <%= render partial: "form", locals: { learning_item: @learning_item } %>
</div>

<%= link_to "← 学習記録作成に戻る", new_study_record_path %>