<h1>学習項目一覧</h1>

<div id="new_learning_item_form">
  <%= render partial: "form", locals: { learning_item: @learning_item, status: @status } %>
</div>

<div class="tabs">
  <%= link_to "⏳ 未完了", learning_items_path(status: "incomplete"), data: { turbo_stream: true }, class: "btn" %>
  <%= link_to "✅ 完了", learning_items_path(status: "complete"), data: { turbo_stream: true }, class: "btn" %>
</div>

<div id="items_list_frame">
  <%= render partial: "learning_items/list", locals: {
        learning_items: @learning_items,
        status: @status || "incomplete"
      } %>
</div>